/* CSS de la page inscriptionUser.html */



#gram {
	color:#FFF;
	padding-left:10px;
	font-size:5px;
}

a {
	color:#9D9D9D;
	text-decoration:none;
}

a:hover {
	text-decoration:none;
	color:#FFF;
}

.haut {
	background-color:#222;
	max-width:820px;
}

@media only screen and (min-width:577px) {
	body {
		text-align:center;
	    background-color:yellow;
	}
	.tete {
		background-color:#222999;
		width:100%;
		align-items:center;
	}
	.haut {
		margin:auto;
	}
	.page {
		max-width:820px;
		margin-left:auto;
		margin-right:auto;
		background-color:pink;
	}
}

@media only screen and (max-width:576px) {
	body {
		background-color:green;
	}
  	.m-header {
  		margin-top:0px;
  		padding-left:5px;
  		padding-right:5px;
  	}
	.p-nom {
		padding-right:0px;
		margin-left:5px;
	}
	.nom {
		margin-left:15px;
	}
	.barre {
		margin-left:15px;
	}
	.barre2 {
		width:96%;
	}
}