.form-div{
    margin-top: 50px;
    text-align: center;
}
.input-label{
    background: rgba(3, 88, 67, 0.89);
    color: #fff;
    padding: 30px;
    transition: 0.5s;
    border-radius: 5px;
}
.input-label:hover{
    background: rgba(5, 116, 88, 0.89);
    cursor: pointer;
}
.fas{
    margin-right: 5px;
}

#file{
    display: none;
}
#contenu{
    display: block;
}
#contenu1{
    margin-bottom: 20px;
}
div{
    text-align: center;
}
#center{
    text-align: center;
}
#textarea{
    font-size: 18px;
    margin-top: 30px;
}





@media only screen and (max-width: 768px) {
   #contenu{
       width:300px;
       height:180px;
   }
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    #contenu{

        width: 500px;
        height: 180px;
    }
  }