@media (min-width: 320px) and (max-width: 576px) {
    .h3, h3 {
        font-size: 9px;
        margin-top: 38px;
        margin-bottom: 30px;
    }    
    #contenu{
        height: 100px;
        margin-top: 13px;
    }
    #button{
        text-align: center;
    }
    .center{
        font-size: 12px;
        border-radius: 12px;
    }
   
  }
@media (min-width: 768px) {
    #grandir{
        font-size: 48px;
        margin-top: 7px;
        margin-top: 80px;
        text-align: center;
    }
    .input-group{
        margin-left: 140px;

    }
    #contenu{
        height: 190px;
        font-size: 53px;
    }
    #button{
        text-align: center;
    }
    #button button{
        font-size: 23px;
        border-radius: 40px;
        padding: 21px;
    }
    
   
}




