#titre{
    text-align: center;
    font-size: 100px;
}
.info{
    display:flex;
    margin-top:20px;
     border: solid 3px;
     max-width: 300px;
}
.chien{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.nomChien{
    margin-left:10px;
    margin-right:10px;
}
.glyphicon-user{
    display: none;
}
img.img-responsive{
   max-width: 191px;
   max-height: 134px;
   
}
/*pour small screen*/
@media only screen and (max-width:570px){
    #titre{
        font-size: 30px;
    }  
    .info2{
        display: flex;
        flex-direction: row-reverse;
    }

    img.img-responsive{
        max-height: 130px;
        width:100%;
        height:auto;
    }
    .form-group{
        display:flex;
        flex:flex-shrink;
        background-color: red; 
    
    }

}

/*pour tout ce qui est plus petit que 768px*/
@media only screen and (max-width:768px){
    #titre{
        font-size: 60px;
    }  
}