#titre{
    text-align: center;
    font-size: 100px;
}
.info{
    display:flex;
    margin-top:20px;
     border: solid 3px;
     width: 300px;
     min-height: 130px;
}
.chien{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.nomChien{
    margin-left:-15px;
    padding-left:-15px;
    text-align:center;
}
.image{
    margin-left:-15px;
    padding-left:-15px;
}
img.img-responsive{
   max-width: 180px;
   height: 130px;
   object-fit:fill;
}

/*pour small screen*/
@media only screen and (max-width:570px){
    #titre{
        font-size: 30px;
    } 
    .info2{
        display: flex;
        flex-direction: row-reverse;
    }

    img.img-responsive{
        max-width: 191px;
   height: 130px;
   object-fit: cover;
    }
    .chien{
        margin: 10%;
    }
}

/*pour tout ce qui est plus petit que 768px*/
@media only screen and (max-width:768px){
    #titre{
        font-size: 60px;
    }  
}
/*pour tout ce qui est plus petit que 988px*/
@media only screen and (max-width:988px){
    #titre{
        font-size: 60px;
    }  
}
