#boutonRond {
    border:solid 3px;
    padding:20px;
    border-radius: 50%;
    margin-bottom:10px;
}
#valider{
    visibility: hidden;
}
@media (min-width: 320px) and (max-width: 480px) {
    
    
  } 

  @media only screen and (min-width: 768px) {
    /* Pour desktop: */
    .grandir img{
        width: 200px;
    }
  }




 