body{
    background-color:#E6E4E4;
}
#page{
    border: solid 1px;
    background-color:white;
}
#page a{
    text-decoration:none;
    color:black;
}
#image{
    margin-top:10px;
    max-height:500px;
    object-fit:contain;
}
.chien{
    margin-top:20px;  
}
#plus{
    width: 3.55rem;
    height: 3.55rem;
    font-size: 1.75rem;
    padding: 0.375rem 0;
    line-height: 1.25;
    border-radius:2rem;
    border: none;
    background-color: lightgrey;
}
#infoChien p span{
    display: inline-block;
}
.info{
    border: solid 2px;
    margin-bottom:10px;
}
#photo{
    margin-top: 5px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    }
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    #résumé{
        font-size: 15px;
        padding-top:10%;
    }
    .info{
        margin-bottom:10px;
    }
   
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #résumé{
        font-size: 15px;
        padding-top:10%;
    } 
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    #résumé{
        font-size: 18px;
        padding-top:10%;
    } 
    #photo{
        max-width: 100%;
        object-fit: cover;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #résumé{
        padding-top:10px;
    } 
    #infoChien{
        font-size: 20px;
    }
    #résumé{
        padding-top: 10px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #résumé{
        padding-top:10px;
    }  
    #image{
        margin-top:20px;
    }
    #infoChien{
        font-size: 25px;
    }
    #photo{
        min-width: 450px;
        object-fit: cover;
    }
}





