/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    #titre{
        font-size: 20px;
    }
    #résumé{
        font-size: 15px;
    }
    .info{
        background-color:orange;
        margin-bottom:10px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #titre{
        font-size: 20px;
    }
    #résumé{
        font-size: 15px;
    } 
    .info{
        background-color:pink;
    }
    }
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    #titre{
        font-size: 30px;
    }
    #résumé{
        font-size: 18px;
    } 
    .info{
        background-color:rgb(146, 8, 123);
    }
    #photo{
        min-width: 345px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .info{
        background-color:blue;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #image{
        margin-top:20px;
        max-height:450px;
    }
    .info{
        background-color:grey;
    }
}
}





#image{
    margin-top:20px;
   
}
